openapi: 3.1.0

info:
  title: Writavo Content API
  version: "1.2.0"
  summary: The CMS control plane for a Writavo Site.
  description: |
    The Writavo Content API is the programmable half of the CMS. It lets you create, edit,
    organise, publish and schedule content without opening the dashboard, and it is the same
    surface the dashboard itself is built on.

    ## The Site is resolved from your key, never from your request

    Every key belongs to exactly one Site. The API resolves the owning Site from the key on
    every request, so there is no site or tenant parameter anywhere in this specification.
    An object belonging to a different Site is not visible to you at all: it returns 404,
    never 403, so the API never discloses that it exists.

    ## Draft by default: what happens if you create an article and never publish it

    `POST /articles` always creates the article at `status: draft`. A draft is private. It is
    not readable on your public blog, it is not in your sitemap, it is not in any feed, and no
    part of the AI pipeline will ever pick it up, rewrite it or publish it. It simply sits
    there, editable, until you call `POST /articles/{id}/publish` or delete it.

    There is no way to create an article that is public in one call. Publishing is always a
    separate, explicit request. That is the safety property this whole API rests on: nothing
    you send us becomes public by accident.

    ## Statuses you may set, and statuses you may only read

    Three statuses are yours: `draft`, `scheduled` and `published`. You move between them with
    the lifecycle endpoints (`/publish`, `/unpublish`, `/schedule`, `/cancel-schedule`), not by
    PATCHing `status`.

    The remaining ten statuses belong to the AI pipeline. You can read them, so you can see
    what the engine is doing, but you cannot set them. A `PATCH` that tries to move an article
    into a pipeline status is rejected with `422 VALIDATION_FAILED`. This prevents an API
    client from injecting work into the generation engine, and therefore into your bill.

    ## What happens if you run out of credits mid-pipeline

    `POST /pipeline/runs` is the only billable operation in this API. Everything else, including
    publishing, is free: publishing an article you already have makes no external call.

    A pipeline run is gated by four independent checks, in this order:

    1. **Scope.** Your key must carry `pipeline:run`, or you get `403 INSUFFICIENT_SCOPE`.
    2. **Entitlement.** Your plan must include the capability, or you get `402 NOT_ENTITLED`.
       Note this applies to the AI pipeline only. The CMS half of this API - content, media,
       taxonomy, webhooks, reads and writes - is included on every plan, and is billed by usage
       rather than gated by tier.
    3. **Credits.** Your organisation must be able to afford the next unit of work, or you get
       `402 INSUFFICIENT_CREDITS`.
    4. **Spend cap.** Your Site's own monthly cap must not be reached, or you get
       `402 SPEND_CAP_REACHED`.

    These are four distinct error codes on purpose, because the fix differs: buy credits, raise
    your cap, or upgrade your plan.

    A run is a request to the engine, not a transaction. If credits run out part way through a
    run that has already started, the engine stops cleanly at the next stage boundary. Work
    already completed is kept and already charged. Nothing is rolled back, no article is left
    half written, and every article stays at whatever status it legitimately reached. The run
    finishes with `status: partial` and a reason you can read from `GET /pipeline/runs/{id}`.
    Top up and request another run and the engine resumes from where it stopped.

    ## Versioning promise

    `/v1` is additive only. We may add new endpoints, new optional request fields and new
    response fields, and you must tolerate unknown response fields. We will not, within `/v1`,
    remove a field, remove or narrow an enum value, rename anything, make an optional request
    field required, or change the HTTP status code of an existing outcome. Any of those would
    ship as `/v2`, with `/v1` supported alongside it.

    New values may be added to read-only enums (for example `article.status`, if the pipeline
    grows a stage). Treat every read-only enum as open and fall through gracefully on a value
    you do not recognise.

    ## Moving an existing blog in

    Content you bring from another system keeps its identity. Send your old system's id for each
    article as `external_id` and look it up with `GET /articles?external_id=` before writing, so
    a second run updates instead of duplicating. Keep the old `slug` so the URL does not change.
    When you publish, pass the article's original `published_at` (and optionally
    `content_updated_at`) in the body of `POST /articles/{id}/publish`: an article's first
    publish may carry its real history, so your feed order, structured data and sitemap dates
    stay what they were. The migration guide walks through the whole import.

    ## Signing in from a terminal

    Command line tools and MCP clients do not need a key pasted into them. `POST /auth/device`
    starts a sign-in that a person approves in the dashboard, and the key the client generated
    becomes an ordinary secret key for the Site they choose. These two endpoints are the only
    ones that take no API key. A key obtained this way can extend itself while it is in use
    (`POST /auth/key/extend`) and revoke itself on sign-out (`POST /auth/key/revoke`).

    AI assistants that support remote MCP servers can skip the terminal entirely: the hosted
    server at `https://mcp.writavo.com/mcp` signs a person in with OAuth 2.1 and one browser
    consent, and underneath runs this same device sign-in on their behalf. OAuth exists on that
    host only. This API accepts API keys and nothing else.

    ## AI agents: the switch, approvals and the call log

    A key approved through a device or OAuth sign-in is an AI agent's key, and three controls
    apply to it that apply to no other key:

    - **The switch.** An owner or admin can turn AI agent access off for the whole organisation.
      Every agent key then gets `403 AGENT_ACCESS_DISABLED` until it is turned back on; nobody
      has to sign in again. Keys made in the dashboard are unaffected.
    - **Approvals.** While the organisation requires them (the default), the seven operations
      marked `x-writavo-approval` (deleting an article, category, tag, author or media asset,
      unpublishing an article, and requesting a pipeline run) answer an agent's first attempt
      with `428 APPROVAL_REQUIRED` and a link. A person approves or denies it in the dashboard,
      and the agent retries the identical request with the `Writavo-Approval` header. An
      approval is single use, lasts 24 hours, and is bound to that key and that exact request:
      the same method, path and body.
    - **The call log.** Every request an agent key makes is recorded (operation, outcome,
      duration, and the MCP tool named in `Writavo-Mcp-Tool` when one is sent) and shown under
      Settings > AI agents.
  contact:
    name: Writavo Support
    url: https://writavo.com/support
  license:
    name: Proprietary
    url: https://writavo.com/terms

servers:
  - url: https://api.writavo.com/v1
    description: Production

externalDocs:
  description: Guides, quickstarts and the rendered reference
  url: https://writavo.com/docs

tags:
  - name: Meta
    description: Connectivity, Site information, content types, limits and usage.
  - name: Articles
    description: The content spine. Create, edit, organise, publish and schedule.
  - name: Categories
    description: The closed taxonomy. Exactly one category per article.
  - name: Tags
    description: The cross cutting taxonomy. Many tags per article.
  - name: Authors
    description: The byline roster for a Site.
  - name: Media
    description: The media library. Two step upload, then registration.
  - name: Pipeline
    description: The AI generation engine. The only billable surface in this API.
  - name: API keys
    description: Key management. Specified here, implemented in API-2.
  - name: Webhooks
    description: |
      Outbound event delivery. Register an HTTPS endpoint, subscribe it to events, and receive a
      signed POST whenever your content changes, from this API or from the dashboard.
  - name: Device sign-in
    description: |
      Device sign-in for command line tools and MCP clients: a person approves access in the
      dashboard instead of copying a key. The only endpoints that take no API key.

security:
  - apiKey: []

paths:
  # ==========================================================================
  # META
  # ==========================================================================
  /ping:
    get:
      operationId: ping
      tags: [Meta]
      summary: Verify a key
      description: |
        The cheapest possible authenticated call. Returns the kind of key you presented and the
        scopes it carries. Use it to confirm credentials during setup, and as a liveness probe.
        It touches no content, so it is exempt from the write rate limit.
      x-scope: none
      x-permission: none
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: read
      x-publishable: true
      responses:
        "200":
          description: The key is valid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [pong, key_kind, scopes]
                        properties:
                          pong:
                            type: boolean
                            const: true
                          key_kind:
                            $ref: "#/components/schemas/KeyKind"
                          scopes:
                            type: array
                            items: { $ref: "#/components/schemas/Scope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  /site:
    get:
      operationId: getSite
      tags: [Meta]
      summary: Read Site information
      description: |
        Public facing information about the Site your key belongs to: its display name, the
        domain its blog is served from, its locale and its timezone. Scheduling times are
        interpreted against this timezone when no offset is supplied.
      x-scope: meta:read
      x-permission: none
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: read
      x-publishable: true
      responses:
        "200":
          description: Site information.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Site" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  /content-types:
    get:
      operationId: listContentTypes
      tags: [Meta]
      summary: List content types
      description: |
        The article formats available to this Site. A format is an SEO blueprint (How-To,
        Listicle, Versus and so on) that shapes how the generator structures an article, and
        that you may set on any article via `format_id`.

        The list merges the platform defaults with any formats defined for your Site. A Site
        format with the same `key` as a platform default overrides it, and only the override is
        returned. Formats are read only in v1: defining your own is a dashboard action.
      x-scope: meta:read
      x-permission: none
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: read
      x-publishable: true
      responses:
        "200":
          description: The available content types.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [items]
                        properties:
                          items:
                            type: array
                            items: { $ref: "#/components/schemas/ContentType" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  /usage:
    get:
      operationId: getUsage
      tags: [Meta]
      summary: Read plan limits, usage and balances
      description: |
        What your plan allows, what you have used in the current period, and what you can still
        spend. Read this before a pipeline run if you want to fail fast rather than handle a
        402, and read it after a run to see the balance move.

        `credits.balance` is the organisation wide credit balance shared by every Site under the
        account. `spend_cap` is this Site's own monthly ceiling and is independent of it: a Site
        can be capped while the organisation still has credits, which is the point of a cap.
      x-scope: meta:read
      x-permission: none
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: read
      x-publishable: false
      responses:
        "200":
          description: Limits, usage and balances.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Usage" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  # ==========================================================================
  # ARTICLES
  # ==========================================================================
  /articles:
    get:
      operationId: listArticles
      tags: [Articles]
      summary: List articles
      description: |
        Cursor paginated, newest updated first.

        The default projection deliberately omits `content`. Article bodies are large, and a
        list endpoint that returns every body is the classic way to make a content API slow and
        expensive. Fetch bodies one at a time with `GET /articles/{id}`, or ask for them
        explicitly with `fields=id,title,content` and a small `limit`.

        There is no way to ask for every field. `fields` is an allow list, not a wildcard.

        A publishable key (`wv_pub_`) sees only articles at `status: published`. A secret key
        sees everything, including drafts.
      x-scope: articles:read
      x-permission: articles.read
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: read
      x-publishable: true
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - name: fields
          in: query
          description: |
            Comma separated field allow list. Any field of the Article schema may be named.
            Omit for the default projection, which is:
            `id, status, title, slug, excerpt, featured_image_url, category_id, author_id,
            format_id, published_at, scheduled_publish_at, created_at, updated_at`.
            `id` is always returned whether or not you name it.
          required: false
          schema:
            type: string
            example: id,title,slug,status,published_at
        - name: status
          in: query
          description: |
            Filter by status. Repeat the parameter to match several. A publishable key may only
            ask for `published`, and any other value is rejected with `403 INSUFFICIENT_SCOPE`.
          required: false
          schema:
            type: array
            items: { $ref: "#/components/schemas/ArticleStatus" }
          style: form
          explode: true
        - name: category_id
          in: query
          required: false
          schema: { type: string, format: uuid }
        - name: author_id
          in: query
          required: false
          schema: { type: string, format: uuid }
        - name: tag_id
          in: query
          description: Return only articles carrying this tag.
          required: false
          schema: { type: string, format: uuid }
        - name: slug
          in: query
          description: Exact slug match. Slugs are unique within a Site, so this returns at most one article.
          required: false
          schema: { type: string }
        - name: external_id
          in: query
          description: |
            Exact `external_id` match. Unique within a Site, so this returns at most one article.
            An importer calls this before writing, to update an article it brought in on an
            earlier run rather than create a second copy.
          required: false
          schema: { type: string, minLength: 1, maxLength: 255 }
        - name: updated_since
          in: query
          description: |
            Return only articles updated at or after this instant. This is the incremental sync
            parameter: store the greatest `updated_at` you have seen and pass it back next time.
          required: false
          schema: { type: string, format: date-time }
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum: [updated_at.desc, updated_at.asc, published_at.desc, published_at.asc, created_at.desc]
            default: updated_at.desc
      responses:
        "200":
          description: A page of articles.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/Page"
                          - type: object
                            properties:
                              items:
                                type: array
                                items: { $ref: "#/components/schemas/Article" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

    post:
      operationId: createArticle
      tags: [Articles]
      summary: Create an article
      description: |
        Creates an article at `status: draft`. Always. There is no request field that can make
        it public, and supplying `status` is a validation error rather than a silent ignore, so
        a client written against a different CMS fails loudly instead of quietly leaving content
        unpublished.

        Nothing here is required. An empty body creates an untitled, unslugged draft you can
        fill in later. `title`, `slug` and `content` do become required at publish time, and
        `POST /articles/{id}/publish` returns `422` with a field level breakdown if any is
        missing.

        If you supply a `title` and no `slug`, a slug is derived from the title. Supply `slug`
        explicitly if the URL matters to you, because a derived slug is not guaranteed stable
        across versions.
      x-scope: articles:write
      x-permission: articles.write
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: write
      x-publishable: false
      parameters:
        - $ref: "#/components/parameters/IdempotencyKeyRequired"
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ArticleCreate" }
            examples:
              minimal:
                summary: An empty draft to fill in later
                value: {}
              typical:
                summary: A complete draft, ready to publish
                value:
                  title: How to choose a headless CMS
                  slug: how-to-choose-a-headless-cms
                  content: "## Start with your delivery model\n\nThe first question is not which CMS..."
                  excerpt: A practical framework for picking a headless CMS without regretting it.
                  seo_title: How to choose a headless CMS (2026 guide)
                  seo_description: A practical framework for picking a headless CMS.
                  seo_keywords: [headless cms, content api, jamstack]
                  category_id: 0f5f1f4e-9c2a-4f7b-9a11-3b5c9d8e7a01
                  author_id: 6a1c8b22-0d4e-4a9f-8c33-77e2f1a4b5c6
                  tag_ids: [9d3e2c11-5b6a-4d8e-9f01-2a3b4c5d6e7f]
      responses:
        "201":
          description: The draft was created.
          headers:
            Location:
              description: The canonical URL of the new article.
              schema: { type: string }
            ETag:
              description: The concurrency token. Pass it as `If-Match` on your first PATCH.
              schema: { type: string }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Article" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  /articles/{id}:
    parameters:
      - $ref: "#/components/parameters/ArticleId"
    get:
      operationId: getArticle
      tags: [Articles]
      summary: Read one article
      description: |
        Returns the full article including `content`. A publishable key may only read an article
        at `status: published`; anything else returns 404, for the same no disclosure reason that
        governs cross Site access.
      x-scope: articles:read
      x-permission: articles.read
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: read
      x-publishable: true
      x-cross-tenant: 404
      parameters:
        - name: fields
          in: query
          description: Comma separated field allow list. Omit to receive every readable field.
          required: false
          schema: { type: string }
      responses:
        "200":
          description: The article.
          headers:
            ETag:
              description: The concurrency token for this version of the row.
              schema: { type: string }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Article" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

    patch:
      operationId: updateArticle
      tags: [Articles]
      summary: Update an article
      description: |
        A partial update. Only the fields you send are touched. Send `null` to clear a nullable
        field; omit it to leave it alone.

        `status` is not updatable here. Use the lifecycle endpoints. Sending `status` returns
        `422 VALIDATION_FAILED`, which is what stops an API client from pushing an article into
        the generation engine.

        You may edit a published article. The edit goes live on your blog as soon as the CDN
        cache for that post is purged, which happens as part of this request.

        **Send `If-Match`.** Pass the `ETag` you received from your last read. If someone else
        changed the article since then you get `412 PRECONDITION_FAILED` instead of silently
        overwriting their work. `If-Match` is optional in v1 for compatibility, and omitting it
        means last write wins, which is almost never what you want on shared content.
      x-scope: articles:write
      x-permission: articles.write
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: write
      x-publishable: false
      x-cross-tenant: 404
      parameters:
        - $ref: "#/components/parameters/IfMatch"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ArticleUpdate" }
      responses:
        "200":
          description: The updated article.
          headers:
            ETag:
              description: The new concurrency token.
              schema: { type: string }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Article" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "412": { $ref: "#/components/responses/PreconditionFailed" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

    delete:
      operationId: deleteArticle
      tags: [Articles]
      summary: Delete an article
      description: |
        Permanent. The row and its tag assignments are removed, and if the article was published
        its URL starts returning 404 on your blog once the cache is purged.

        There is no trash and no undo in v1. If you only want to take a post off the web, use
        `POST /articles/{id}/unpublish`, which keeps everything and is reversible.

        Deleting an article that does not exist returns 404 rather than succeeding, so a
        double delete is visible to you rather than silent.

        **When an AI agent asks.** A key approved for an AI assistant (a device or OAuth sign-in)
        in an organisation that requires approvals gets `428 APPROVAL_REQUIRED` on the first try,
        with `error.approval.url` for a person to approve or deny in the dashboard. Retry the same
        request with `Writavo-Approval: <error.approval.id>` once they have. Every other key is
        unaffected.
      x-scope: articles:write
      x-permission: articles.write
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: write
      x-publishable: false
      x-writavo-approval: article.delete
      x-cross-tenant: 404
      parameters:
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/WritavoApproval"
      responses:
        "204":
          description: Deleted. No body.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "412": { $ref: "#/components/responses/PreconditionFailed" }
        "428": { $ref: "#/components/responses/ApprovalRequired" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  /articles/{id}/publish:
    parameters:
      - $ref: "#/components/parameters/ArticleId"
    post:
      operationId: publishArticle
      tags: [Articles]
      summary: Publish an article
      description: |
        Makes the article public immediately, at `status: published`.

        Requires a non empty `title`, `slug` and `content`. If any is missing you get
        `422 VALIDATION_FAILED` with a `fields` map naming each one, so you can point a user at
        the exact problem rather than showing a generic failure.

        `published_at` is set to now only if it was not already set. It records when the article
        was **first** made public and is the ordering key for your blog, so republishing after an
        unpublish does not move the post to the top of the feed.

        **Importing an article that was already public somewhere else?** Send its original
        `published_at` in the body, and optionally `content_updated_at`. Both must be in the past
        (and on or after 1990-01-01), and `content_updated_at` may not be earlier than
        `published_at`. They are honoured on the article's **first** publish only: once an article
        has a `published_at`, sending a different one is `422 VALIDATION_FAILED`, and sending the
        same one is accepted so a retried import stays a no-op. A future date is refused; use
        `/schedule` to go live later.

        Publishing clears any pending schedule.

        This is free. It makes no external call, so it passes no entitlement check, spends no
        credits and is unaffected by your spend cap. An editor who is not allowed to run the AI
        pipeline can still publish their own writing.

        Safe to repeat: publishing an already published article is a no-op that returns the
        current state.
      x-scope: articles:write
      x-permission: articles.write
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: write
      x-publishable: false
      x-cross-tenant: 404
      x-makes-public: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                published_at:
                  type: string
                  format: date-time
                  description: |
                    The date the article was ORIGINALLY published, for an article imported from
                    another system. First publish only; must be in the past. Omit it to publish
                    now.
                content_updated_at:
                  type: string
                  format: date-time
                  description: |
                    When the imported article's content last changed at its source. First publish
                    only; must be in the past and not earlier than `published_at`.
      responses:
        "200":
          description: The article is public.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/ArticleLifecycleState" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  /articles/{id}/unpublish:
    parameters:
      - $ref: "#/components/parameters/ArticleId"
    post:
      operationId: unpublishArticle
      tags: [Articles]
      summary: Unpublish an article
      description: |
        Takes the article off the web and returns it to `status: draft`. The URL starts
        returning 404 on your blog once the cache is purged.

        `published_at` is deliberately left intact. It is the original publication date and your
        blog's ordering key, so a post that goes back up keeps its place in the archive.

        Nothing is deleted and the operation is fully reversible with `POST /articles/{id}/publish`.

        **When an AI agent asks.** A key approved for an AI assistant (a device or OAuth sign-in)
        in an organisation that requires approvals gets `428 APPROVAL_REQUIRED` on the first try,
        with `error.approval.url` for a person to approve or deny in the dashboard. Retry the same
        request with `Writavo-Approval: <error.approval.id>` once they have. Every other key is
        unaffected.
      x-scope: articles:write
      x-permission: articles.write
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: write
      x-publishable: false
      x-writavo-approval: article.unpublish
      x-cross-tenant: 404
      parameters:
        - $ref: "#/components/parameters/WritavoApproval"
      responses:
        "200":
          description: The article is no longer public.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/ArticleLifecycleState" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "428": { $ref: "#/components/responses/ApprovalRequired" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  /articles/{id}/schedule:
    parameters:
      - $ref: "#/components/parameters/ArticleId"
    post:
      operationId: scheduleArticle
      tags: [Articles]
      summary: Schedule an article
      description: |
        Moves the article to `status: scheduled` and records when it should go live. A cron
        publishes it within a few minutes of that time, whether or not the AI pipeline is
        switched on for your Site.

        `scheduled_publish_at` must be in the future. A past or present timestamp is rejected
        with `422 VALIDATION_FAILED`, because silently publishing immediately is the wrong
        answer to a clock skew bug.

        The same `title`, `slug` and `content` requirements as publishing apply, and are checked
        now rather than at the scheduled moment, so a scheduled post cannot fail silently at
        two in the morning.

        Rescheduling is just another call to this endpoint. Calling it on an already scheduled
        article replaces the time.

        A published article cannot be scheduled: that would take it off the web until the
        scheduled time. It is refused with `409 CONFLICT` ("This article is live. Unpublish it
        first."). Unpublish it first if that is what you mean.
      x-scope: articles:write
      x-permission: articles.write
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: write
      x-publishable: false
      x-cross-tenant: 404
      x-makes-public: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scheduled_publish_at]
              additionalProperties: false
              properties:
                scheduled_publish_at:
                  type: string
                  format: date-time
                  description: |
                    ISO 8601. Include an offset. If you omit one it is read in the Site's
                    timezone, which you can get from `GET /site`.
                  examples: ["2026-09-01T09:00:00Z"]
      responses:
        "200":
          description: The article is scheduled.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/ArticleLifecycleState" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  /articles/{id}/cancel-schedule:
    parameters:
      - $ref: "#/components/parameters/ArticleId"
    post:
      operationId: cancelArticleSchedule
      tags: [Articles]
      summary: Cancel a scheduled publish
      description: |
        Returns a scheduled article to `status: draft` and clears `scheduled_publish_at`. The
        content is untouched. Calling this on an article that is not scheduled, including a
        published one, is a no-op that returns the current state unchanged: it never takes a
        live article down. Use `POST /articles/{id}/unpublish` for that.
      x-scope: articles:write
      x-permission: articles.write
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: write
      x-publishable: false
      x-cross-tenant: 404
      responses:
        "200":
          description: The schedule was cancelled.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/ArticleLifecycleState" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  # ==========================================================================
  # CATEGORIES
  # ==========================================================================
  /categories:
    get:
      operationId: listCategories
      tags: [Categories]
      summary: List categories
      description: |
        Every category on the Site, alphabetically. Categories are a closed taxonomy: an article
        has exactly one, or none.
      x-scope: taxonomy:read
      x-permission: taxonomy.read
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: read
      x-publishable: true
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - name: fields
          in: query
          description: |
            Comma separated field allow list. Default projection: `id, name, slug, article_count`.
          required: false
          schema: { type: string }
      responses:
        "200":
          description: A page of categories.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/Page"
                          - type: object
                            properties:
                              items:
                                type: array
                                items: { $ref: "#/components/schemas/Category" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }
    post:
      operationId: createCategory
      tags: [Categories]
      summary: Create a category
      description: |
        `slug` is unique within the Site. A collision returns `409 SLUG_CONFLICT` rather than
        silently appending a suffix, so your URLs are never a surprise.
      x-scope: taxonomy:write
      x-permission: taxonomy.manage
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: write
      x-publishable: false
      parameters:
        - $ref: "#/components/parameters/IdempotencyKeyRequired"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TaxonomyTermWrite" }
      responses:
        "201":
          description: The category was created.
          headers:
            Location: { schema: { type: string }, description: The canonical URL of the new category. }
            ETag: { schema: { type: string }, description: The concurrency token. }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Category" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  /categories/{id}:
    parameters:
      - $ref: "#/components/parameters/CategoryId"
    get:
      operationId: getCategory
      tags: [Categories]
      summary: Read one category
      x-scope: taxonomy:read
      x-permission: taxonomy.read
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: read
      x-publishable: true
      x-cross-tenant: 404
      responses:
        "200":
          description: The category.
          headers:
            ETag: { schema: { type: string }, description: The concurrency token. }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Category" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }
    patch:
      operationId: updateCategory
      tags: [Categories]
      summary: Update a category
      description: |
        Renaming is safe. Changing `slug` changes the category archive URL on your blog, and
        nothing is redirected for you, so change it only if you accept the broken link.
      x-scope: taxonomy:write
      x-permission: taxonomy.manage
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: write
      x-publishable: false
      x-cross-tenant: 404
      parameters:
        - $ref: "#/components/parameters/IfMatch"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TaxonomyTermUpdate" }
      responses:
        "200":
          description: The updated category.
          headers:
            ETag: { schema: { type: string }, description: The new concurrency token. }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Category" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "412": { $ref: "#/components/responses/PreconditionFailed" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }
    delete:
      operationId: deleteCategory
      tags: [Categories]
      summary: Delete a category
      description: |
        Articles in this category are **not** deleted. Their `category_id` becomes `null`, so
        they stay published and simply lose their category. Removing a category never removes
        content.

        **When an AI agent asks.** A key approved for an AI assistant (a device or OAuth sign-in)
        in an organisation that requires approvals gets `428 APPROVAL_REQUIRED` on the first try,
        with `error.approval.url` for a person to approve or deny in the dashboard. Retry the same
        request with `Writavo-Approval: <error.approval.id>` once they have. Every other key is
        unaffected.
      x-scope: taxonomy:write
      x-permission: taxonomy.manage
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: write
      x-publishable: false
      x-writavo-approval: category.delete
      x-cross-tenant: 404
      parameters:
        - $ref: "#/components/parameters/WritavoApproval"
      responses:
        "204":
          description: Deleted. No body.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "428": { $ref: "#/components/responses/ApprovalRequired" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  # ==========================================================================
  # TAGS
  # ==========================================================================
  /tags:
    get:
      operationId: listTags
      tags: [Tags]
      summary: List tags
      description: "Every tag on the Site, alphabetically. Tags are cross cutting: an article may carry many."
      x-scope: taxonomy:read
      x-permission: taxonomy.read
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: read
      x-publishable: true
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - name: fields
          in: query
          description: |
            Comma separated field allow list. Default projection: `id, name, slug, article_count`.
          required: false
          schema: { type: string }
      responses:
        "200":
          description: A page of tags.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/Page"
                          - type: object
                            properties:
                              items:
                                type: array
                                items: { $ref: "#/components/schemas/Tag" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }
    post:
      operationId: createTag
      tags: [Tags]
      summary: Create a tag
      description: "`slug` is unique within the Site. A collision returns `409 SLUG_CONFLICT`."
      x-scope: taxonomy:write
      x-permission: taxonomy.manage
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: write
      x-publishable: false
      parameters:
        - $ref: "#/components/parameters/IdempotencyKeyRequired"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TaxonomyTermWrite" }
      responses:
        "201":
          description: The tag was created.
          headers:
            Location: { schema: { type: string }, description: The canonical URL of the new tag. }
            ETag: { schema: { type: string }, description: The concurrency token. }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Tag" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  /tags/{id}:
    parameters:
      - $ref: "#/components/parameters/TagId"
    get:
      operationId: getTag
      tags: [Tags]
      summary: Read one tag
      x-scope: taxonomy:read
      x-permission: taxonomy.read
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: read
      x-publishable: true
      x-cross-tenant: 404
      responses:
        "200":
          description: The tag.
          headers:
            ETag: { schema: { type: string }, description: The concurrency token. }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Tag" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }
    patch:
      operationId: updateTag
      tags: [Tags]
      summary: Update a tag
      x-scope: taxonomy:write
      x-permission: taxonomy.manage
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: write
      x-publishable: false
      x-cross-tenant: 404
      parameters:
        - $ref: "#/components/parameters/IfMatch"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TaxonomyTermUpdate" }
      responses:
        "200":
          description: The updated tag.
          headers:
            ETag: { schema: { type: string }, description: The new concurrency token. }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Tag" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "412": { $ref: "#/components/responses/PreconditionFailed" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }
    delete:
      operationId: deleteTag
      tags: [Tags]
      summary: Delete a tag
      description: |
        The tag is removed from every article that carried it. No article is deleted.

        **When an AI agent asks.** A key approved for an AI assistant (a device or OAuth sign-in)
        in an organisation that requires approvals gets `428 APPROVAL_REQUIRED` on the first try,
        with `error.approval.url` for a person to approve or deny in the dashboard. Retry the same
        request with `Writavo-Approval: <error.approval.id>` once they have. Every other key is
        unaffected.
      x-scope: taxonomy:write
      x-permission: taxonomy.manage
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: write
      x-publishable: false
      x-writavo-approval: tag.delete
      x-cross-tenant: 404
      parameters:
        - $ref: "#/components/parameters/WritavoApproval"
      responses:
        "204":
          description: Deleted. No body.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "428": { $ref: "#/components/responses/ApprovalRequired" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  # ==========================================================================
  # AUTHORS
  # ==========================================================================
  /authors:
    get:
      operationId: listAuthors
      tags: [Authors]
      summary: List authors
      description: The byline roster for the Site.
      x-scope: authors:read
      x-permission: taxonomy.read
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: read
      x-publishable: true
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - name: fields
          in: query
          description: |
            Comma separated field allow list. Default projection:
            `id, name, bio, avatar_url, is_ai_generated, is_default, created_at`.
          required: false
          schema: { type: string }
      responses:
        "200":
          description: A page of authors.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/Page"
                          - type: object
                            properties:
                              items:
                                type: array
                                items: { $ref: "#/components/schemas/Author" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }
    post:
      operationId: createAuthor
      tags: [Authors]
      summary: Create an author
      description: |
        `is_ai_generated` marks a persona rather than a real person. It defaults to `true`
        because that is what the generation pipeline creates. Set it to `false` for a human
        byline, and be accurate about it: it is what your disclosure copy keys off.
      x-scope: authors:write
      x-permission: taxonomy.manage
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: write
      x-publishable: false
      parameters:
        - $ref: "#/components/parameters/IdempotencyKeyRequired"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AuthorWrite" }
      responses:
        "201":
          description: The author was created.
          headers:
            Location: { schema: { type: string }, description: The canonical URL of the new author. }
            ETag: { schema: { type: string }, description: The concurrency token. }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Author" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  /authors/{id}:
    parameters:
      - $ref: "#/components/parameters/AuthorId"
    get:
      operationId: getAuthor
      tags: [Authors]
      summary: Read one author
      x-scope: authors:read
      x-permission: taxonomy.read
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: read
      x-publishable: true
      x-cross-tenant: 404
      responses:
        "200":
          description: The author.
          headers:
            ETag: { schema: { type: string }, description: The concurrency token. }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Author" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }
    patch:
      operationId: updateAuthor
      tags: [Authors]
      summary: Update an author
      description: |
        Setting `is_default: true` clears the flag on whichever author held it, because a Site
        has at most one default byline. Setting it to `false` on the current default leaves the
        Site with none.
      x-scope: authors:write
      x-permission: taxonomy.manage
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: write
      x-publishable: false
      x-cross-tenant: 404
      parameters:
        - $ref: "#/components/parameters/IfMatch"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AuthorUpdate" }
      responses:
        "200":
          description: The updated author.
          headers:
            ETag: { schema: { type: string }, description: The new concurrency token. }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Author" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "412": { $ref: "#/components/responses/PreconditionFailed" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }
    delete:
      operationId: deleteAuthor
      tags: [Authors]
      summary: Delete an author
      description: |
        Articles by this author are **not** deleted. Their `author_id` becomes `null`, so they
        stay published and lose their byline.

        **When an AI agent asks.** A key approved for an AI assistant (a device or OAuth sign-in)
        in an organisation that requires approvals gets `428 APPROVAL_REQUIRED` on the first try,
        with `error.approval.url` for a person to approve or deny in the dashboard. Retry the same
        request with `Writavo-Approval: <error.approval.id>` once they have. Every other key is
        unaffected.
      x-scope: authors:write
      x-permission: taxonomy.manage
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: write
      x-publishable: false
      x-writavo-approval: author.delete
      x-cross-tenant: 404
      parameters:
        - $ref: "#/components/parameters/WritavoApproval"
      responses:
        "204":
          description: Deleted. No body.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "428": { $ref: "#/components/responses/ApprovalRequired" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  # ==========================================================================
  # MEDIA
  # ==========================================================================
  /media:
    get:
      operationId: listMedia
      tags: [Media]
      summary: List media assets
      description: The media library, newest first.
      x-scope: media:read
      x-permission: media.manage
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: read
      x-publishable: false
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - name: bucket
          in: query
          required: false
          schema: { $ref: "#/components/schemas/MediaBucket" }
        - name: fields
          in: query
          description: |
            Comma separated field allow list. Default projection:
            `id, bucket, url, file_name, mime_type, size_bytes, width, height, alt_text, created_at`.
          required: false
          schema: { type: string }
      responses:
        "200":
          description: A page of media assets.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/Page"
                          - type: object
                            properties:
                              items:
                                type: array
                                items: { $ref: "#/components/schemas/MediaAsset" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }
    post:
      operationId: registerMedia
      tags: [Media]
      summary: Register an uploaded file
      description: |
        Step three of the upload. Call this after your `PUT` to the presigned URL succeeds.

        You send the `upload_id` you were given, not a path. The server already knows where the
        file went, which is what stops a client naming an arbitrary storage location.

        The server inspects the stored bytes here: it reads the real content type from the file
        itself and checks the size and image dimensions. A file whose actual type is not an
        allowed image is rejected with `422 VALIDATION_FAILED` and deleted from storage, so a
        rejected upload leaves nothing behind. The declared type you sent to `/media/upload-url`
        is treated as a hint only and never trusted.

        If you never call this, the uploaded object is swept and the reservation expires. A file
        with no `media_assets` row is not part of your library.
      x-scope: media:write
      x-permission: media.manage
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: write
      x-publishable: false
      x-cross-tenant: 404
      parameters:
        - $ref: "#/components/parameters/IdempotencyKeyRequired"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [upload_id]
              additionalProperties: false
              properties:
                upload_id:
                  type: string
                  format: uuid
                  description: From `POST /media/upload-url`.
                alt_text:
                  type: [string, "null"]
                  maxLength: 500
                  description: |
                    Accessibility text. Worth sending. It is what screen readers announce and
                    what search engines read, and there is no way to generate it for you.
      responses:
        "201":
          description: The asset is registered and in your library.
          headers:
            Location: { schema: { type: string }, description: The canonical URL of the new asset. }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/MediaAsset" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  /media/upload-url:
    post:
      operationId: createMediaUploadUrl
      tags: [Media]
      summary: Request an upload URL
      description: |
        Step one of the upload. Returns a short lived presigned URL and an `upload_id`.

        The upload is a three step handshake:

        1. `POST /media/upload-url` with the filename and declared content type.
        2. `PUT` the raw bytes to `upload_url`. Send no authorization header; the signature in
           the URL is the credential.
        3. `POST /media` with the `upload_id` to register the asset.

        The storage location is chosen by the server and namespaced to your Site. You cannot
        influence it, and no other Site's key can produce a URL that writes into your namespace.

        The URL expires. If your `PUT` is slow or fails, request a new one; do not retry an
        expired signature.

        `upload_url` is a bearer credential, so it is **not replayed**: a retry with the same
        `Idempotency-Key` returns the same `upload_id` with `upload_url: null` and
        `upload_url_replayable: false`. Request a fresh reservation instead.
      x-scope: media:write
      x-permission: media.manage
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: upload
      x-publishable: false
      parameters:
        - $ref: "#/components/parameters/IdempotencyKeyRequired"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [file_name, content_type]
              additionalProperties: false
              properties:
                file_name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: |
                    The original filename. It is sanitised before use and never becomes a path
                    on its own, so traversal sequences are stripped rather than rejected.
                  examples: ["hero.webp"]
                content_type:
                  type: string
                  description: |
                    The MIME type you believe you are uploading. A hint only. The real type is
                    read from the bytes at registration and it is that check, not this field,
                    that decides whether the file is accepted.
                  enum: [image/webp, image/png, image/jpeg, image/gif, image/avif]
                size_bytes:
                  type: integer
                  minimum: 1
                  description: |
                    Declared size, so an over limit upload can be refused before the bytes move.
                    Also verified after the fact.
                bucket:
                  $ref: "#/components/schemas/MediaBucket"
      responses:
        "201":
          description: The upload was reserved.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [upload_id, upload_url, method, expires_at]
                        properties:
                          upload_id: { type: string, format: uuid }
                          upload_url:
                            type: string
                            format: uri
                            description: Presigned. Do not log it; it is a bearer credential until it expires.
                          method: { type: string, const: PUT }
                          headers:
                            type: object
                            additionalProperties: { type: string }
                            description: Headers you must send with the PUT, if any.
                          expires_at: { type: string, format: date-time }
                          max_size_bytes:
                            type: integer
                            description: The hard byte ceiling for this upload.
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  /media/{id}:
    parameters:
      - $ref: "#/components/parameters/MediaId"
    get:
      operationId: getMediaAsset
      tags: [Media]
      summary: Read one media asset
      x-scope: media:read
      x-permission: media.manage
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: read
      x-publishable: false
      x-cross-tenant: 404
      responses:
        "200":
          description: The media asset.
          headers:
            ETag: { schema: { type: string }, description: The concurrency token. }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/MediaAsset" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }
    patch:
      operationId: updateMediaAsset
      tags: [Media]
      summary: Update a media asset
      description: |
        Only `alt_text` is editable. The bytes are immutable: to replace an image, upload a new
        one and repoint whatever referenced the old one.
      x-scope: media:write
      x-permission: media.manage
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: write
      x-publishable: false
      x-cross-tenant: 404
      parameters:
        - $ref: "#/components/parameters/IfMatch"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                alt_text:
                  type: [string, "null"]
                  maxLength: 500
      responses:
        "200":
          description: The updated media asset.
          headers:
            ETag: { schema: { type: string }, description: The new concurrency token. }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/MediaAsset" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "412": { $ref: "#/components/responses/PreconditionFailed" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }
    delete:
      operationId: deleteMediaAsset
      tags: [Media]
      summary: Delete a media asset
      description: |
        Removes the catalog row and the stored bytes.

        **Articles are not rewritten.** If a published article embeds this image, or uses it as
        its `featured_image_url`, that reference becomes a broken image on your live blog. Check
        before you delete: `GET /articles?fields=id,featured_image_url` finds featured uses, and
        in body content the URL is plain text you can search for.

        **When an AI agent asks.** A key approved for an AI assistant (a device or OAuth sign-in)
        in an organisation that requires approvals gets `428 APPROVAL_REQUIRED` on the first try,
        with `error.approval.url` for a person to approve or deny in the dashboard. Retry the same
        request with `Writavo-Approval: <error.approval.id>` once they have. Every other key is
        unaffected.
      x-scope: media:write
      x-permission: media.manage
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: write
      x-publishable: false
      x-writavo-approval: media.delete
      x-cross-tenant: 404
      parameters:
        - $ref: "#/components/parameters/WritavoApproval"
      responses:
        "204":
          description: Deleted. No body.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "428": { $ref: "#/components/responses/ApprovalRequired" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  # ==========================================================================
  # PIPELINE
  # ==========================================================================
  /pipeline/runs:
    get:
      operationId: listPipelineRuns
      tags: [Pipeline]
      summary: List pipeline runs
      description: |
        Recent engine activity for the Site, newest first. One row per stage invocation, so a
        single logical run appears as several rows as work moves through the stages.
      x-scope: pipeline:read
      x-permission: pipeline.run
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: read
      x-publishable: false
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - name: status
          in: query
          required: false
          schema: { $ref: "#/components/schemas/PipelineRunStatus" }
        - name: stage
          in: query
          required: false
          schema: { $ref: "#/components/schemas/PipelineStage" }
      responses:
        "200":
          description: A page of pipeline runs.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/Page"
                          - type: object
                            properties:
                              items:
                                type: array
                                items: { $ref: "#/components/schemas/PipelineRun" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }
    post:
      operationId: createPipelineRun
      tags: [Pipeline]
      summary: Request a pipeline run
      description: |
        **This is the only billable operation in this API.**

        It asks the engine to work on your Site at the next opportunity, rather than waiting for
        the normal cadence. It returns `202` immediately. It does not wait for articles to be
        written, and it does not tell you how many will be: what the engine does depends on what
        is in your queue and how far the credits go.

        Four gates, checked in this order, each with its own error code:

        | Gate | Failure | Meaning |
        |---|---|---|
        | Scope | `403 INSUFFICIENT_SCOPE` | This key does not carry `pipeline:run`. |
        | Entitlement | `402 NOT_ENTITLED` | Your plan does not include AI generation. Upgrade. |
        | Credits | `402 INSUFFICIENT_CREDITS` | The organisation cannot afford the next unit of work. Top up. |
        | Spend cap | `402 SPEND_CAP_REACHED` | This Site hit its own monthly ceiling. Raise it or wait for the reset. |

        The order matters: an entitlement failure is answered before a credits failure, so a
        caller who is not on the right plan never learns anything about the balance.

        Charging happens per unit of work, after that work succeeds, not up front. A run that
        exhausts the balance part way through stops at the next stage boundary and finishes as
        `partial`. Nothing is rolled back and no article is left half written. Poll
        `GET /pipeline/runs/{id}` for the outcome, or subscribe to `pipeline.run.completed`
        once webhooks are available.

        `Idempotency-Key` is required. Two identical requests within the retention window
        produce one run, which is what stops a retried network timeout from spending twice.

        **When an AI agent asks.** A key approved for an AI assistant (a device or OAuth sign-in)
        in an organisation that requires approvals gets `428 APPROVAL_REQUIRED` on the first try,
        with `error.approval.url` for a person to approve or deny in the dashboard. Retry the same
        request with `Writavo-Approval: <error.approval.id>` once they have. Every other key is
        unaffected.
      x-scope: pipeline:run
      x-permission: pipeline.run
      x-entitlement: ai.article_generation
      x-spends-credits: true
      x-rate-limit-class: pipeline
      x-publishable: false
      x-writavo-approval: pipeline.run
      parameters:
        - $ref: "#/components/parameters/IdempotencyKeyRequired"
        - $ref: "#/components/parameters/WritavoApproval"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                max_articles:
                  type: integer
                  minimum: 1
                  maximum: 50
                  description: |
                    An upper bound on how many articles this run may produce. Your own safety
                    valve on top of the platform spend cap. Omit to use the Site's configured
                    batch size.
      responses:
        "202":
          description: |
            The run was accepted and queued. It runs asynchronously: poll the URL in `Location`
            (`GET /pipeline/runs/{id}`) until `status` is terminal, or subscribe to the
            `pipeline.run.*` webhook events instead of polling.
          headers:
            Location:
              description: Where to poll for this run's status, `/v1/pipeline/runs/{id}`.
              schema: { type: string }
          links:
            GetPipelineRun:
              operationId: getPipelineRun
              parameters:
                id: $response.body#/data/id
              description: Poll the run this request queued.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [id, status, requested_at]
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: The run's job id. Poll `GET /pipeline/runs/{id}` with it.
                          status: { type: string, const: queued }
                          requested_at: { type: string, format: date-time }
                          estimated_start_at:
                            type: [string, "null"]
                            format: date-time
                            description: When the engine expects to pick this up. Advisory.
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/PaymentRequired" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "428": { $ref: "#/components/responses/ApprovalRequired" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  /pipeline/runs/{id}:
    parameters:
      - $ref: "#/components/parameters/PipelineRunId"
    get:
      operationId: getPipelineRun
      tags: [Pipeline]
      summary: Read one pipeline run
      description: |
        The outcome of a run. `status: partial` with an `error_summary` is what you see when a
        run stopped early, whether because credits ran out, the spend cap was reached, or a
        vendor call failed. `items_succeeded` tells you what you did get.
      x-scope: pipeline:read
      x-permission: pipeline.run
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: read
      x-publishable: false
      x-cross-tenant: 404
      responses:
        "200":
          description: The pipeline run.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/PipelineRun" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  /pipeline/queue:
    get:
      operationId: listPipelineQueue
      tags: [Pipeline]
      summary: Read the content queue
      description: |
        What the engine plans to write, highest priority first. Each item is a topic or keyword
        with a source: `manual` if a person added it, `content_gap` if gap analysis found it,
        `competitor_seed` if it came from a competitor page.

        Read only in v1. Adding topics is a dashboard action.

        `signal` carries the structured research behind a `competitor_seed` item: the angle, the
        hook, the data points and the gaps. It is extracted signal, never copied prose, which is
        the firewall that keeps generated output original.
      x-scope: pipeline:read
      x-permission: pipeline.run
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: read
      x-publishable: false
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - name: status
          in: query
          required: false
          schema: { $ref: "#/components/schemas/PlanItemStatus" }
        - name: source
          in: query
          required: false
          schema: { $ref: "#/components/schemas/PlanItemSource" }
      responses:
        "200":
          description: A page of queue items.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/Page"
                          - type: object
                            properties:
                              items:
                                type: array
                                items: { $ref: "#/components/schemas/QueueItem" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  # ==========================================================================
  # API KEYS  (specified here; implemented in API-2)
  # ==========================================================================
  /keys:
    get:
      operationId: listApiKeys
      tags: [API keys]
      summary: List API keys
      description: |
        Metadata only. The secret itself is shown once, at creation, and is never retrievable
        afterwards because only a hash is stored. `key_prefix` is the displayable fragment you
        use to tell keys apart.

        Requires a secret key carrying `keys:read`. A publishable key can never read this.
      x-scope: keys:read
      x-permission: api_keys.manage
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: read
      x-publishable: false
      responses:
        "200":
          description: A page of keys.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/Page"
                          - type: object
                            properties:
                              items:
                                type: array
                                items: { $ref: "#/components/schemas/ApiKey" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
    post:
      operationId: createApiKey
      tags: [API keys]
      summary: Create an API key
      description: |
        Returns the secret exactly once, in `data.secret`. Store it immediately. There is no way
        to recover it later, and support cannot retrieve it for you.

        A key can never be created with more authority than its creator has. The scopes you
        request are intersected with the creator's own permissions, and the granted set comes
        back in `data.scopes`. If you asked for something you do not hold, the key is still
        created, without it. Compare what you asked for against what you got.

        A secret key's authority is also re-evaluated on every request against its creator's
        live permissions, so revoking a person's access immediately narrows every key they made.

        **A retry does not give you the secret again.** `Idempotency-Key` guarantees you created
        one key rather than two, and a replayed response returns the key's `id`, `kind`,
        `key_prefix` and `scopes` with `secret: null` and `secret_replayable: false`. The secret
        is never stored anywhere, including in the idempotency record, because storing it would
        put a live credential in a database backup. If you lost it, rotate the key.
      x-scope: keys:write
      x-permission: api_keys.manage
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: write
      x-publishable: false
      parameters:
        - $ref: "#/components/parameters/IdempotencyKeyRequired"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, kind, scopes]
              additionalProperties: false
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
                  description: A label for humans. Say where the key lives, so you know what breaks if you revoke it.
                kind: { $ref: "#/components/schemas/KeyKind" }
                scopes:
                  type: array
                  minItems: 1
                  items: { $ref: "#/components/schemas/Scope" }
                expires_at:
                  type: [string, "null"]
                  format: date-time
                  description: Optional expiry. After it passes the key returns `401 API_KEY_EXPIRED`.
      responses:
        "201":
          description: The key was created. This is the only time the secret is returned.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/ApiKey"
                          - type: object
                            required: [secret]
                            properties:
                              secret:
                                type: string
                                description: The full key. Shown once. Never retrievable again.
                                # API-2: the issued shape is prefix + 32 base64url chars from 24
                                # random bytes. No `live_` segment: environment is a column, not
                                # part of the string (there is no test mode in v1).
                                examples: ["wv_sk_EXAMPLE0000000000000000000000000000"]
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientScope" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Maintenance" }
        "500": { $ref: "#/components/responses/InternalError" }

  /keys/{id}/rotate:
    parameters:
      - $ref: "#/components/parameters/KeyId"
    post:
      operationId: rotateApiKey
      tags: [API keys]
      summary: Rotate an API key
      description: |
        Issues a new secret for the same key record, keeping its name, and returns it once.

        Only the person who created the key, an organisation owner or a platform admin may rotate
        it: a rotation hands over a live credential that keeps acting with its creator's
        permissions. Anyone else with `api_keys.manage` gets `403 INSUFFICIENT_SCOPE`. The new
        secret's scopes are the old key's scopes limited to what the caller could grant today, and
        a rotation that would leave no scopes is refused with `403 INSUFFICIENT_SCOPE`.

        As with creation, a replayed retry returns `secret: null` and `secret_replayable: false`
        rather than handing out the credential a second time. Rotate again if you lost it.

        Set `grace_seconds` to keep the old secret working while you deploy the new one. During
        the grace window both work. After it, the old one returns `401 API_KEY_REVOKED`. A grace
        of `0` cuts the old secret off immediately, which is the right choice if you are rotating
        because it leaked.
      x-scope: keys:write
      x-permission: api_keys.manage
      x-entitlement: none
      x-spends-credits: false
      x-rate-limit-class: write
      x-publishable: false
      x-cross-tenant: 404
      parameters:
        - $ref: "#/components/parameters/IdempotencyKeyRequired"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                grace_seconds:
                  type: integer
                  minimum: 0
                  maximum: 86400
                  default: 0
      responses:
        "200":
          description: Rotated. The new secret is returned once.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: "#/components/schemas/ApiKey"
                          - type: object
[...]
